[gcode_macro START_PRINT]
description: All what needs to be done at print start
gcode:
    #### set defaults ####
    {% set t_extruder = params.T_EXTRUDER|default(0) %}
    {% set t_bed = params.T_BED|default(0) %}
    #### end off definition  ####
	{action_respond_info("Homing")}
    _CG28                                      ; Home
    M83                                      ; Extruder relative mode
	{action_respond_info("Homing done")}
    {action_respond_info("Extruder Standby Temp")}
    M104 S170                                ; Extruder heat up standby temp 170
    M190 S{t_bed}                            ; Bed heat up
    #M190 S60
    _CG34
    BED_MESH_PRINT_AREA AREA_START_X={params.AREA_START_X|float} AREA_START_Y={params.AREA_START_Y|float} AREA_END_X={params.AREA_END_X|float} AREA_END_Y={params.AREA_END_Y|float}
	{action_respond_info("Heat Bed")}
	{action_respond_info("Move to Front")}
   # G91
   # G1 X0 Y0 F2200							 ; Go to front
	M109 S{t_extruder}                       ; Extruder heat up to target temp
    G92 E0.0                                 ; Reset extruder length
	G90                                      ; Absolute positioning
	PRIME_LINE                               ; First move  
    {action_respond_info("Start Printing")}
    
    
[gcode_macro BED_MESH_PRINT_AREA]
; gcode parameters
variable_parameter_AREA_START_X : 0
variable_parameter_AREA_START_Y : 0
variable_parameter_AREA_END_X : 219
variable_parameter_AREA_END_Y : 250
; the "safe" area that the probe can reach, use value in config->[bed_mesh]
variable_mesh_min_x :0
variable_mesh_min_y :0
variable_mesh_max_x :219
variable_mesh_max_y :250
; the clearance between print area and probe area 
variable_mesh_area_offset : 0
variable_probe_samples : 1
variable_mesh_size : 7
gcode:
    #probe_reset
        {% if (params.AREA_START_X|default(0)|float < params.AREA_END_X|default(0)|float) and (params.AREA_START_Y|default(0)|float < params.AREA_END_Y|default(0)|float) %}
            {% if params.AREA_START_X|default(0)|float - mesh_area_offset >=  mesh_min_x %}
                {% set mesh_min_x = params.AREA_START_X|default(0)|float - mesh_area_offset %}
            {% endif %}

            {% if params.AREA_START_Y|default(0)|float - mesh_area_offset >=  mesh_min_y %}
                {% set mesh_min_y = params.AREA_START_Y|default(0)|float - mesh_area_offset %}
            {% endif %}

            {% if params.AREA_END_X|default(0)|float + mesh_area_offset <=  mesh_max_x %}
                {% set mesh_max_x = params.AREA_END_X|default(0)|float + mesh_area_offset %}
            {% endif %}

            {% if params.AREA_END_Y|default(0)|float + mesh_area_offset <=  mesh_max_y %}
                {% set mesh_max_y = params.AREA_END_Y|default(0)|float + mesh_area_offset %}
            {% endif %}

            M117 Setzte Custom Mesh Bereich auf ({mesh_min_x},{mesh_min_y}),({mesh_max_x},{mesh_max_y})

            {% if (params.AREA_END_X|float - params.AREA_START_X|float)*(params.AREA_END_Y|float - params.AREA_START_Y|float) < 20250.0 %}
                {% set mesh_size = 7 %}
            {% elif (params.AREA_END_X|float - params.AREA_START_X|float)*(params.AREA_END_Y|float - params.AREA_START_Y|float) < 13500.0 %}
                {% set mesh_size = 7 %}
            {% endif %}
            M117 Setzte Mesh Matrix auf {mesh_size}x{mesh_size}

            BED_MESH_CALIBRATE mesh_min={mesh_min_x|float},{mesh_min_y|float} mesh_max={mesh_max_x|float},{mesh_max_y|float} probe_count={mesh_size|int},{mesh_size|int} samples={probe_samples|int}
        {% else %}
            M117 Invalid custom mesh parameters, probe using default setting
            BED_MESH_CALIBRATE
        {% endif %}
