[include configs/shell_command.cfg]
[include configs/macros_main.cfg]
[include configs/timelapse.cfg]              # delete # if timelapse.cfg will be used
[include configs/macros_print.cfg]
[include configs/neopixel.cfg]
[include mainsail.cfg]
#[include configs/klicky/klicky-probe.cfg]
#[include scripts/output/gcode_check.cfg]

############################################
# Stepper
############################################

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: !PA7
position_min: -3
position_endstop: -3
position_max: 250
homing_speed: 60.0
second_homing_speed: 15.0

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC13
microsteps: 16
rotation_distance: 32
endstop_pin: !PC5
position_min: -10
position_endstop: -10
position_max: 250
homing_speed: 50.0
second_homing_speed: 15.0

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC14
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_max: 250
position_min: -5
homing_speed: 25.0

[stepper_z1]
step_pin: PC0
dir_pin: !PC1
enable_pin: !PC15
microsteps: 16
rotation_distance: 8

[extruder]
step_pin: PB4
dir_pin: !PB3
enable_pin: !PA15
microsteps: 16
rotation_distance: 22.5651019            #has to be calibrated by everyone
gear_ratio: 50:17
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
#sensor_type: ATC Semitec 104GT-2
#sensor_type: Trianglelab-NTC100K-B3950 #trianglelab V6
sensor_type: ATC Semitec 104GT-2 #most V6 Clones
#sensor_type: ATC Semitec 104NT-4-R025H42G #revo micro
sensor_pin: PC4
min_temp: 0
max_temp: 255
max_extrude_cross_section: 50.0
#max_extrude_cross_section: 0.4 ;Standardwert
pressure_advance: 0.0
pressure_advance_smooth_time: 0.040000
max_extrude_only_distance: 800.0
#control: pid
#pid_kp: 28.937
#pid_ki: 1.295
#pid_kd: 161.688

[homing_override]
set_position_z:0
gcode:
    G1 Z7 F2000
    G28 X Y
    G1 X122.5 Y100 F6000
    G28 Z
    G1 Z10 F2000

[z_tilt]
z_positions:
   -30,135
    275,135
points:
    2,116
    240,116
speed: 200
horizontal_move_z: 7
retries: 10
retry_tolerance: 0.015

[bltouch]
sensor_pin: ^PB12
control_pin: PB13
#z_offset: 0
x_offset: 0
y_offset: 19
samples: 1
speed: 20
lift_speed: 30
probe_with_touch_mode: True
stow_on_each_sample: False


############################################
# FANS
############################################


[heater_fan extruder_fan]
pin: PB1

[fan]
pin: PA0

[temperature_fan Mainboard]
pin: mcu:PA14
sensor_type: temperature_mcu
max_power: 1.0
shutdown_speed: 1.0
hardware_pwm: false
kick_start_time: 0.5
off_below: 0.4
max_temp: 100
min_temp: 20
target_temp: 50
max_speed: 1.0
min_speed: 0.3
control: pid
pid_Kp: 1
pid_Ki: 1
pid_Kd: 1

############################################
# Heatbed & Mesh
############################################

[heater_bed]
heater_pin: PA4
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PB0
#control: pid
#pid_kp: 67.648
#pid_ki: 1.044
#pid_kd: 1095.893
min_temp: 0
max_temp: 114

[bed_mesh]
mesh_min: 10,13
mesh_max: 245, 245
probe_count: 11,11
#mesh_pps: 2,3
algorithm: bicubic
speed: 200
horizontal_move_z: 7
#bicubic_tension:0.2
relative_reference_index: 28

############################################
# sonstiges
############################################

#[filament_switch_sensor runout]
#pause_on_runout: True
#switch_pin: PA5

[output_pin beeper_pin]
pin: PB15
pwm: True
value: 0
shutdown_value: 0
cycle_time: 0.001

#[input_shaper]
#shaper_freq_x: 86.2
#shaper_type_x: mzv
#shaper_freq_y: 39.6
#shaper_type_y: mzv

[temperature_sensor Raspi]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[neopixel sb_leds]
pin: PA13
chain_count: 3
color_order: GRBW #SK6812 (Options are GRBW or RGBW)
#color_order: GRB #WS2812B (Options are GRB,RGB, BRG, BGR)
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0

############################################
# MCU & Printer
############################################

[mcu]
#serial: /dev/ttyUSB0
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 150
max_accel: 1500            
max_accel_to_decel: 1500 
max_z_velocity: 5
max_z_accel: 100

############################################
# Input Shaper Config
############################################

#[adxl345]
#cs_pin: rpi:None

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    122.5,125,20 

#[mcu rpi]
#serial: /tmp/klipper_host_mcu

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.167
#*# pid_ki = 1.329
#*# pid_kd = 900.041
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.047500, 0.080000, 0.087500, 0.097500, 0.087500, 0.095000, 0.115000
#*# 	0.057500, 0.087500, 0.077500, 0.060000, 0.082500, 0.090000, 0.085000
#*# 	0.062500, 0.055000, 0.065000, 0.062500, 0.112500, 0.082500, 0.107500
#*# 	0.017500, 0.030000, 0.035000, -0.020000, 0.055000, 0.080000, 0.140000
#*# 	0.000000, 0.000000, 0.045000, 0.037500, 0.030000, 0.042500, 0.070000
#*# 	-0.045000, -0.032500, 0.012500, 0.040000, 0.040000, 0.035000, 0.060000
#*# 	-0.077500, -0.042500, 0.015000, 0.022500, 0.052500, 0.030000, 0.080000
#*# tension = 0.2
#*# min_x = 62.09
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 62.09
#*# x_count = 7
#*# max_y = 182.87
#*# mesh_x_pps = 2
#*# max_x = 182.86
#*#
#*# [bltouch]
#*# z_offset = 2.100
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.595
#*# pid_ki = 1.084
#*# pid_kd = 117.776
